@model IEnumerable<Crossword.Models.Clue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("X coordinate")
        </th>
        <th>
            @Html.DisplayName("Y coordinate")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayName("Clue")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.XCoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YCoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerClue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClueId })
        </td>
    </tr>
}

</table>
